<!doctype html>
<html lang="en">
  <head>
    <title>My Web App</title>
    <link rel="stylesheet" href="/css/custom.css">
   
  </head>
  <body>
    <h1>Welcome to the /index!</h1>
    <ul>
      <li><a href="/hackers">Users</a></li>
    </ul>
  </body>
</html>
