<!doctype html>
<html lang="en">
  <head>
    <title>My Web App</title>
   
  </head>
  <body>
    <h1>All Users</h1>
    <p><a href="/new">Add New User</a></p>
    <ul>
    <% for (var i = 0; i < hackers.length; i++) { %>
        <li><a href="/hackers/<%= hackers[i].id %>">
            <%= hackers[i].name %>
        </a></li>
    <% } %>
    </ul>
  </body>
</html>