<!doctype html>
<html lang="en">
  <head>
    <title>My Web App</title>
   
  </head>
  <body>
      <form method="POST" action="/hackers">
        <label for="name">Name</label>
        <input name="name" id="name" />
        <br />
        <label for="email">Email</label>
        <input name="email" id="email" />
        <br />
        <label for="password">Password</label>
        <input name="password" id="password" />
        <br />
        <input type="submit" value="Submit" />
      </form>
  </body>
</html>