extends _layout
block title
    title Hackers
    
block content
    h4 Welcome to our little API sandbox. Don't be afraid to break things.
        This project is version controlled so our app always works.